In [91]:
import pandas as pd
from scipy.stats import entropy
import numpy as np

there are currently errors in the old frequency output table

In [68]:
binary_split_all = pd.read_pickle(
    'positive-negative_thresh0_freq-table.pkl.gz')
binary_split_all.sort_values('negative_skew', ascending=False).head(5)

,positive_raw,negative_raw,total_raw,positive_z,negative_z,total_z,positive_ratio,negative_ratio,positive_skew,negative_skew,positive_plus1,negative_plus1
colloc,,,,,,,,,,,,
no_different,0,1060,1060,-0.03348,36.19783,12.32744,0.0,1.0,0.0,1.67505,1,1061
often_strange,0,1,1,-0.03348,-0.09314,-0.06115,0.0,1.0,0.0,1.67505,1,2
often_streaky,0,1,1,-0.03348,-0.09314,-0.06115,0.0,1.0,0.0,1.67505,1,2
often_stressful,0,1,1,-0.03348,-0.09314,-0.06115,0.0,1.0,0.0,1.67505,1,2
often_stupid,0,1,1,-0.03348,-0.09314,-0.06115,0.0,1.0,0.0,1.67505,1,2

The previous frequency data *only* considered collocations and individual units. I tweaked the script a bit (not committed yet, bc it needs to be cleaned up) to do the same crosstabulation by adverb and adjective types. Here are some samples of that: sorted counts by negative context (non-negative contexts not included in these samples)

In [69]:
neg_adv_counts = pd.read_pickle('negative-contexts_adv-freq-table.pkl.gz')
neg_adj_counts = pd.read_pickle('negative-contexts_adj-freq-table.pkl.gz')

top_300_adv = pd.read_csv('data_samples/negative_adv-freq_top300.csv')
top_300_adv.head(11)

,adv,cross_context_sum,not_VP-adv,never_VP-adv,no_subj-det,none_subj-NP,no-one_subj-NP,few_det-of-subj,nothing_subj-NP,nobody_subj-NP,few_subj,without-being_PP,neither_subj-NP,neither_subj-det,not-one_subj-NP,not-a-single_subj-det,not-one_subj-det
0,by_context_sum,260417,238598,7302,4818,1902,1817,1785,1492,689,681,589,379,323,33,5,4
1,as,55538,51281,1416,510,668,114,621,420,72,275,18,86,41,14,1,1
2,immediately,31911,29141,1,2264,44,316,66,3,49,1,0,13,13,0,0,0
3,so,29857,27890,1132,281,125,52,143,119,19,49,30,9,7,1,0,0
4,that,17707,16891,484,54,40,66,15,85,50,5,2,10,5,0,0,0
5,too,15534,12848,1337,725,41,80,45,205,35,7,196,10,5,0,0,0
6,very,13729,12865,388,39,108,40,122,27,30,19,14,40,34,2,0,1
7,yet,8540,8359,0,110,19,22,5,8,7,1,1,4,4,0,0,0
8,really,6786,5826,416,36,53,164,40,96,117,15,6,9,8,0,0,0
9,always,5948,5886,48,1,2,1,3,2,1,0,0,4,0,0,0,0
10,quite,5842,4747,403,8,20,455,17,23,130,11,8,8,12,0,0,0

In [70]:
top_300_adj = pd.read_csv('data_samples/negative_adj-freq_top300.csv')
top_300_adj.head(11)

,adj,cross_context_sum,not_VP-adv,never_VP-adv,no_subj-det,none_subj-NP,no-one_subj-NP,few_det-of-subj,nothing_subj-NP,nobody_subj-NP,few_subj,without-being_PP,neither_subj-NP,neither_subj-det,not-one_subj-NP,not-a-single_subj-det,not-one_subj-det
0,by_context_sum,260417,238598,7302,4818,1902,1817,1785,1492,689,681,589,379,323,33,5,4
1,clear,21110,20887,166,16,5,6,6,16,4,1,1,0,2,0,0,0
2,available,16882,13986,9,2345,44,315,95,1,50,9,1,12,14,1,0,0
3,good,11455,10641,456,61,72,30,29,85,25,19,8,18,9,2,0,0
4,sure,10129,8976,308,0,15,616,4,3,188,0,6,7,6,0,0,0
5,bad,9202,8919,156,28,19,10,11,45,4,1,0,7,1,1,0,0
6,easy,5498,5300,89,18,14,0,10,56,1,2,0,5,3,0,0,0
7,different,3825,3768,11,8,4,1,7,19,2,2,1,1,1,0,0,0
8,much,3267,3185,37,19,4,2,2,16,0,0,2,0,0,0,0,0
9,happy,2918,2645,143,10,20,40,6,0,35,7,0,1,11,0,0,0
10,strong,2869,2736,87,15,11,1,7,1,0,2,2,3,3,1,0,0

This is the basic collocation counts for the negative contexts, sorted by most common in all negative contexts combined

In [71]:
top_300_colloc = pd.read_csv('data_samples/negative_colloc-freq_top300.csv')
top_300_colloc.head()

,colloc,cross_context_sum,not_VP-adv,never_VP-adv,no_subj-det,none_subj-NP,no-one_subj-NP,few_det-of-subj,nothing_subj-NP,nobody_subj-NP,few_subj,without-being_PP,neither_subj-NP,neither_subj-det,not-one_subj-NP,not-a-single_subj-det,not-one_subj-det
0,by_context_sum,260417,238598,7302,4818,1902,1817,1785,1492,689,681,589,379,323,33,5,4
1,immediately_clear,15784,15769,0,14,1,0,0,0,0,0,0,0,0,0,0,0
2,immediately_available,14304,11632,1,2191,27,314,65,0,49,1,0,11,13,0,0,0
3,as_good,4215,3858,233,24,21,16,11,26,9,5,0,10,2,0,0,0
4,so_sure,3956,3940,7,0,1,5,0,1,1,0,0,1,0,0,0,0

10% of the sum of all negative context collocation hits is:

In [72]:
freq10percent = top_300_colloc.iat[1,1] * 0.1
freq10percent

1578.4

I selected only those collocations which account for 10% of the combined negative hits *on their own*. That is, their cross-context total is over the 10% mark.  

The hope is that these will skew toward negative contexts rather than positive, since they are so common in the negative contexts. This is not guaranteed though, since they could just be extremely common collocations across the board, and possibly even *more common* in positive contexts.

In [73]:

NegTopCollocs_df = top_300_colloc[top_300_colloc.cross_context_sum >= freq10percent]
NegTopCollocs_df = NegTopCollocs_df.rename(columns={'cross_context_sum':'NEG_sum'}).loc[1:,:]
NegTopCollocs = NegTopCollocs_df.colloc
NegTopCollocs_df

,colloc,NEG_sum,not_VP-adv,never_VP-adv,no_subj-det,none_subj-NP,no-one_subj-NP,few_det-of-subj,nothing_subj-NP,nobody_subj-NP,few_subj,without-being_PP,neither_subj-NP,neither_subj-det,not-one_subj-NP,not-a-single_subj-det,not-one_subj-det
1,immediately_clear,15784,15769,0,14,1,0,0,0,0,0,0,0,0,0,0,0
2,immediately_available,14304,11632,1,2191,27,314,65,0,49,1,0,11,13,0,0,0
3,as_good,4215,3858,233,24,21,16,11,26,9,5,0,10,2,0,0,0
4,so_sure,3956,3940,7,0,1,5,0,1,1,0,0,1,0,0,0,0
5,as_bad,3069,2921,90,8,14,4,1,23,1,0,0,6,0,1,0,0
6,very_good,2797,2665,86,4,17,0,6,0,6,3,1,7,2,0,0,0
7,yet_clear,2196,2193,0,0,0,0,0,3,0,0,0,0,0,0,0,0
8,quite_sure,2069,1362,194,0,5,382,0,0,118,0,1,2,5,0,0,0
9,so_bad,1953,1901,35,6,1,2,2,5,0,0,0,0,1,0,0,0
10,as_strong,1885,1818,53,2,7,1,2,1,0,0,0,0,1,0,0,0
11,so_much,1854,1832,18,1,2,0,0,1,0,0,0,0,0,0,0,0
12,too_late,1711,1173,537,0,0,1,0,0,0,0,0,0,0,0,0,0

I can then select only these collocation from the positive frequency table as well. 

First, here are the most frequent collocations in positive contexts (already see some possibility of level distribution...)

In [74]:
pos_collocs = pd.read_pickle('positive-contexts_colloc-freq-table.pkl.gz')
pos_collocs = pos_collocs.rename(columns={'be-ADV-ADJ_positive':'POS_sum'})
pos_collocs

context                 POS_sum
colloc
'60s_political                1
'90s_cheesy                   1
0-2_all-time                  1
0-3-1_all-time                1
0-4_all-time                  1
...                         ...
zero_deep                     1
zestfully_entertaining        1
zestily_satisfying            1
zimmediately_salable          1
zone_balanced                 1

[80650 rows x 1 columns]

In [75]:
POS_top_300_colloc = pd.read_csv('data_samples/positive_colloc-freq_top300.csv')
POS_top_300_colloc.head(11)

            colloc  be-ADV-ADJ_positive  cross_context_sum
0   by_context_sum               374956             374956
1        too_early                 2688               2688
2   very_important                 2313               2313
3          as_good                 2245               2245
4         too_late                 2158               2158
5        very_good                 2101               2101
6   very_difficult                 2075               2075
7         too_much                 1725               1725
8         too_high                 1646               1646
9       very_happy                 1288               1288
10       very_hard                 1224               1224

Comparing the collocation frequencies between context type, it seems there may indeed be some collocations that skew strongly negative:

In [76]:
pos_for_compare = pos_collocs.loc[NegTopCollocs,:]


neg_for_compare = NegTopCollocs_df.set_index('colloc')

compare = neg_for_compare.join(pos_for_compare)
compare = compare[['NEG_sum','POS_sum']].fillna(0).convert_dtypes()

# compare = neg_for_compare.assign(positive_total=pos_for_compare)
compare

                       NEG_sum  POS_sum
colloc
immediately_clear        15784       21
immediately_available    14304       59
as_good                   4215     2245
so_sure                   3956      122
as_bad                    3069      455
very_good                 2797     2101
yet_clear                 2196        4
quite_sure                2069       93
so_bad                    1953      685
as_strong                 1885      445
so_much                   1854      188
too_late                  1711     2158

## Divergence of positive distribution from negative:

In [77]:
round(entropy(compare.POS_sum.to_list(), compare.NEG_sum.to_list()),3)

1.246

## Divergence of negative distribution from positive

**This is the highest divergence value for this subset of data**

In [78]:
round(entropy(compare.NEG_sum.to_list(), compare.POS_sum.to_list()),3)

2.34

I think the following is indicative of why the divergence values weren't informative. The disparity in the amount of data is

In [79]:
unk_collocs = pd.read_pickle('test-contexts_colloc-freq-table.pkl.gz')
unk_collocs = unk_collocs.assign(UNK_sum=unk_collocs.sum(axis=1))
unk_collocs.sort_values('UNK_sum',ascending=False)

context            every_det-of-subj  everybody_subj  everyone_subj  UNK_sum
colloc
so_excited                         1              32             41       74
very_excited                       0              27             41       68
so_happy                           3              26             34       63
very_happy                         1              22             38       61
well_aware                         3              20             37       60
...                              ...             ...            ...      ...
mostly_upset                       0               0              1        1
mostly_grateful                    1               0              0        1
morbidly_obese                     0               0              1        1
morally_obligated                  0               0              1        1
yet_comfortable                    0               0              1        1

[2563 rows x 4 columns]

In [80]:

unk_collocs_overlap = unk_collocs[unk_collocs.index.isin(NegTopCollocs)]
unk_collocs_overlap

context     every_det-of-subj  everybody_subj  everyone_subj  UNK_sum
colloc
as_bad                      0               0              1        1
as_good                    16               8              8       32
as_strong                   1               2              0        3
quite_sure                  0               0              5        5
so_much                     1               2              0        3
so_sure                     1               1             43       45
too_late                    0               0              2        2
very_good                   6               7              2       15

In [81]:
compare_unk = compare.assign(UNK_sum = unk_collocs_overlap.UNK_sum).fillna(0).convert_dtypes()
compare_unk

                       NEG_sum  POS_sum  UNK_sum
colloc
immediately_clear        15784       21        0
immediately_available    14304       59        0
as_good                   4215     2245       32
so_sure                   3956      122       45
as_bad                    3069      455        1
very_good                 2797     2101       15
yet_clear                 2196        4        0
quite_sure                2069       93        5
so_bad                    1953      685        0
as_strong                 1885      445        3
so_much                   1854      188        3
too_late                  1711     2158        2

Now we have to do some smoothing bc 0s will break the algorithm.

In [92]:
compare_unk = compare_unk.add(1)
compare_unk

                       NEG_sum  POS_sum  UNK_sum
colloc
immediately_clear        15786       23        2
immediately_available    14306       61        2
as_good                   4217     2247       34
so_sure                   3958      124       47
as_bad                    3071      457        3
very_good                 2799     2103       17
yet_clear                 2198        6        2
quite_sure                2071       95        7
so_bad                    1955      687        2
as_strong                 1887      447        5
so_much                   1856      190        5
too_late                  1713     2160        4

In [93]:
posdist = np.array(compare_unk.POS_sum.to_list())
negdist = np.array(compare_unk.NEG_sum.to_list())
unkdist = np.array(compare_unk.UNK_sum.to_list())

## Divergence of unknowns from negative distribution

In [94]:
round(entropy(unkdist, negdist),3)

0.935

## Divergence of unknowns from positive distribution

In [95]:
round(entropy(unkdist, negdist),3)

0.935

The below code is just messing around with `scipy.special.rel_entr()`... but I'm confused because it's *theorectically* supposed to be the same value as KL div according to this:
https://www.geeksforgeeks.org/kullback-leibler-divergence/

In [96]:
from scipy.special import rel_entr


round(sum(rel_entr(unkdist, negdist)),3)

-666.614

In [99]:
round(sum(rel_entr(negdist, unkdist)),3)

415268.138

In [97]:
round(sum(rel_entr(unkdist, posdist)),3)

-394.744

In [100]:
round(sum(rel_entr(posdist, unkdist)),3)

42786.306

In [98]:

# adv_totals = neg_adv_counts.sum()
# adj_totals = neg_adj_counts.sum()
# adv_totals
# len(adv_totals) * 0.2